.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8F99B266;
    
    padding: 5px 20px ;
    font-family: 'yaldevi500';
    height: 96px;
}

.logo-nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo-nav-image {
    position: relative;
    text-decoration: none;
    color: #260E17;
    width: 83px;
    height: 83px;
    margin-left: 10px;
    z-index: 0;
}
.logo-nav-ball {
    position: absolute;
    text-decoration: none;
    z-index: 2;
    width: 34px;
    height: 34.2px;
    left: 34.6px;
    top: 24.4px;
    display: inline-block;
    
}

  
  .rotate {
    transform: rotate(360deg);
    transition: transform 1s ease;
  }
  

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.nav-item {
    padding: 0px 50px;
    text-decoration: none;
    color: #260E17;
    border-right: 1.7px solid #BC0A0A;
}
.nav-item:hover {
    color:  #BC0A0A;
}

.nav-item:last-child {
    border-right: none;
}

@media screen and (max-width: 768px) {

    /*.navbar {
        flex-direction: row;
        align-items: stretch;
        padding: 1rem;
    }*/

    .logo-nav {
        /*margin-bottom: 1rem;*/
        display: flex;
        align-items: center;
    }

    .logo-nav img {
        text-decoration: none;
        color: #260E17;
        /*max-width: 100%;
        max-height: 100%;*/
    }

    .nav-item {
        padding: 0.5rem 1rem;
        border-right: none;
        font-size: 12px;
        border-bottom: 1.5px solid #BC0A0A;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

}