
.gallery-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 257px;
    font-size: 24px;
    font-family: 'orbitron700';
    color: #0E2344;
}

.gallery-heading-bars{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
   
}

.gallery-heading-bars img {
    width: 259.33px;
    height: 26.86px;
}

.gallery-fixed-bar{
    transform: scaleX(-1) scaleY(-1) translateY(-50px);
    z-index: -2;
}
.gallery-transitioned-bar {
    z-index: -1;
    transform: scaleX(-1) scaleY(-1) translateY(-38px);
}

.g-gallery-section {
   
    border-radius: 15px;
    padding: 20px;
    
    margin: 0;
    color: rgba(242, 246, 250, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.g-gallery-section h2 {
    
    text-align: center;
    font-size: 30px;
    line-height: 37.62px;
    margin-bottom: 30px;
    font-family: 'orbitron900';
}

.g-gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    row-gap: 116px;
}

.g-gallery-item {
    text-align: center;
    flex-basis: 0 1 0;
    
}

.g-gallery-item img {
    width: 332px;
    border-radius: 20px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    
}

.g-gallery-item h3 {
    color:#0E2344;
    font-size: 18px;
    line-height: 22.57px;
    font-family: 'orbitron700';
}

.g-gallery-item p {
    color:#0E2344;
    font-size: 12px;
    line-height: 15.05px;
    font-family: 'orbitron700';
}

.g-gallery-content{
    padding-bottom: 100px;
}
.gallery-more-btn {

    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    background: linear-gradient(90deg, #0E2344 24.4%, #404F74 87.9%); 
    color: rgba(242, 246, 250, 1); 
    border-radius: 8px;
    border: none; 
    cursor: pointer;
    font-size: 16px;
    font-family: 'orbitron500';
}

.gallery-more-btn:hover {
    background: rgb(22, 56, 110);
    background: -moz-linear-gradient(90deg, rgba(22, 56, 110, 1) 50%, rgba(80, 98, 144, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22, 56, 110, 1) 50%, rgba(80, 98, 144, 1) 100%);
    background: linear-gradient(90deg, rgba(22, 56, 110, 1) 50%, rgba(80, 98, 144, 1) 100%);
}

.gallery-more-btn:active {
    background: rgb(29, 74, 145);
    background: -moz-linear-gradient(90deg, rgba(29, 74, 145, 1) 50%, rgba(74, 109, 164, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29, 74, 145, 1) 50%, rgba(74, 109, 164, 1) 100%);
    background: linear-gradient(90deg, rgba(29, 74, 145, 1) 50%, rgba(74, 109, 164, 1) 100%);
}
.gallery-more-btn:disabled {
    background-color: #EBEBEB;
    color: #AAAAAA;
}

 @media (max-width: 767px) {
    
    .g-gallery-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
        row-gap: 116px;
    }
    .g-gallery-item img {
        margin: 20px;
        width: 280px;
        height: 280px;
    }
 }
 @media (min-width: 768px) {
   
    .gallery-heading-bars img {
        width: 350px;
        height: 36.26px;
    }
    .gallery-fixed-bar{
        transform: scaleX(-1) scaleY(-1) translateY(-60px);
        z-index: -2;
    }
    .gallery-transitioned-bar {
        z-index: -1;
        transform: scaleX(-1) scaleY(-1) translateY(-48px);
    } 
    
    /* //////// */
   
    .g-gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        row-gap: 116px;
    }


}

@media (min-width: 1366px ) {
    
    .gallery-heading-bars img {
        width: 518.66px;
        height: 53.73px;
    }
    .gallery-fixed-bar{
        transform: scaleX(-1) scaleY(-1);
        z-index: -2;
    }
    .gallery-transitioned-bar {
        z-index: -1;
        transform: scaleX(-1) scaleY(-1) translateY(12px);
    }

    .g-gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        row-gap: 116px;
    }
    
   
} 

