.left-content h1 {
    color: #0E2344;
    
    font-size: 55px;
    padding: 50px;
    letter-spacing: 3px;
    line-height: 68.97px;
}

.left-content h1 span {
    color: #BC0A0A;
}

.left-content p{
    padding-left: 60px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(1, 4, 7, 1);
    line-height: 26.32px;
}

.hero {
    display: flex;
    border-radius: 40px;
    background-color: rgba(64, 79, 116, 0.3);
    margin-top: 60px;
    padding: 0px;
    height: 540px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-content {
    flex: 1;
}

.red-text {
    color: red;
}

.bars{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.bar{
    width: 518.66px;
    height: 53.73px;
}

.right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 400px;
    justify-self: end;
    align-self: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .left-content h1 {
        color: #0E2344;
        text-align: center;
        font-size: 30px;
        padding: 10px;
        letter-spacing: 3px;
        line-height: 68.97px;
    }
    .left-content p{
        text-align: center;
        padding-left: 10px;
        font-weight: bold;
        font-size: 20px;
        color: rgba(1, 4, 7, 1);
        line-height: 26.32px;
    }
    .bar{
        width: 259.33px;
        height: 26.86px;
    }
    .logo{
        width: 150px;
    }
}