/*Bloques*/
.split-component {
    display: flex;
    flex-direction: column;
    margin: 100px 10px;
    align-items: center;
}

.block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.block img {
    width: 650px;
    height: 450px;
    padding: 20px;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-block p {
    flex: 1;
    font-size: 18px;
    font-family: 'yaldevi500';
}

.text-block h2 {
    font-size: 50px;
    font-family: 'orbitron800';
}

.image {
    margin-left: 50px;
}

.btn {
    display: block;
    width: 200px;
    margin-top: 40px;
    padding: 10px;
    background-color: rgba(242, 246, 250, 1);
    color: rgba(64, 79, 116, 1);
    border-radius: 8px;
    border: 2px solid rgba(64, 79, 116, 1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'orbitron500';
}

/*GALERIA*/
.gallery-section {
    background-color: rgba(14, 35, 68, 1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    color: rgba(242, 246, 250, 1);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.gallery-section h2 {
    text-align: center;
    font-size: 30px;
    line-height: 37.62px;
    margin-bottom: 30px;
    font-family: 'orbitron900';
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    row-gap: 116px;
}

.gallery-item {
    text-align: center;
    flex-basis: 0 1 0;
    
}

.gallery-item img {
    width: 350px;
    border-radius: 10px;
    height: 350px;
    
}

.gallery-item h3 {
    font-size: 18px;
    line-height: 22.57px;
    font-family: 'orbitron700';
}

.gallery-item p {
    font-size: 12px;
    line-height: 15.05px;
    font-family: 'orbitron700';
}

.more-btn {
    display: block;
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(242, 246, 250, 1);
    color: rgba(64, 79, 116, 1);
    border-radius: 8px;
    border: 2px solid rgba(64, 79, 116, 1);
    cursor: pointer;
    font-size: 16px;
    font-family: 'orbitron500';
}

/*NOSOTROS*/
.us-section {
    position: relative;
}
.us-text {
    width: 100%;
    height: 410px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'yaldevi500';
}
.us-button{
    font-family: 'orbitron500';
}
.us-text p {
    margin-bottom: 40px;
}

.us-icons {
    width: 100%;
    background-color: rgba(143, 153, 178, 0.3);
    border-radius: 15px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us-icons h3 {
    font-size: 30px;
    line-height: 37.62px;
    padding: 20px;
    font-family: 'orbitron900';
}

.us-links {
    margin: 10px;
}
.us-links img {
    margin: 10px 50px;
}

.us-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.us-ball {
    overflow: hidden;

    position: absolute;
    bottom: 0;
    right: 0;
}

/*REVIEWS*/
.review-section{
    padding: 50px;
}
.review-section h2{
    text-align: center;
    color: #BC0A0A;
    font-size: 30px;
    line-height: 37.62px;
    font-family: 'orbitron900';
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
.review1{
    width: 564px;
    height: 300px;
}
.review2 {
    width: 564px;
    height: 242px;
    align-self: flex-end;
}
.review3 {
    width: 564px;
    height: 288px;
}

@media (max-width: 1480px ) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1100px ) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {

    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .split-component {
        flex-direction: column;
        margin: 10px;
    }

    .block {
        grid-template-columns: 1fr;

    }

    .block:nth-child(2) .text-block {
        order: 2;
    }

    .block:nth-child(2) .image-block {
        order: 1;
    }

    .block img {
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 40px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .text-block {
        align-items: center;
    }

    .text-block p {
        font-size: 12px;
    }

}