.review-section{
    padding: 150px;
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: white;
}
.review-section h2{
    text-align: center;
    color: #BC0A0A;
    font-size: 30px;
    line-height: 37.62px;
    font-family: 'orbitron900';
    margin-bottom: 100px;
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
.review1{
    opacity: 0;
    width: 564px;
    height: 300px;
    transition: all 2s ease;
}
.review2 {
    width: 564px;
    height: 242px;
    align-self: flex-end;
}
.review3 {
    width: 564px;
    height: 288px;
    transform: translateX(100px);
}

@media (max-width: 1480px) {
    .review-section{
        padding: 40px;
    }
    .reviews {
        align-items: flex-start;
    }
    .review1{
        width: 564px;
        height: 300px;
    }
    .review2 {
        width: 564px;
        height: 242px;
    }
    .review3 {
        width: 564px;
        height: 288px;
    }
}

@media (max-width: 1100px) {
    .review-section{
        padding: 30px;
    }
    .reviews {
        align-items: center;
    }
    .review1{
        width: 270px;
        height: 150px;
    }
    .review2 {
        width: 270px;
        height: 121px;
        align-self: center;
    }
    .review3 {
        width: 274px;
        height: 144px;
        transform: translateX(0px);
    }
}


@media (max-width: 768px) {
    .review-section{
        padding: 20px;
    }
    .reviews {
        align-items: center;
        padding: 10px;
    }
    .review1{
        width: 230px;
        height: 130px;
    }
    .review2 {
        width: 230px;
        height: 100px;
        align-self: center;
    }
    .review3 {
        width: 230px;
        height: 114px;
    }
}
.review-animation .review1 {
    opacity: 1;
	-webkit-animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     }

 @-webkit-keyframes scale-in-right {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
  }
  @keyframes scale-in-right {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      opacity: 1;
    }
  }
  

.review-animation .review2 {
	-webkit-animation: scale-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.review-animation .review3 {
	-webkit-animation: scale-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
           
}

 @-webkit-keyframes scale-in-left {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
  }
  @keyframes scale-in-left {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
  }
  